In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [27]:
df = pd.read_csv("census-income .csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [19]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'annual_income'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  annual_income   32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
annual_income     0
dtype: int64

**Handling Ambigous Values**

In [6]:
# Finding ambigous values
for col in df.columns:
    print(col)
    print(df[col].value_counts())

age
36    898
31    888
34    886
23    877
35    876
     ...
83      6
85      3
88      3
87      1
86      1
Name: age, Length: 73, dtype: int64
workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64
fnlwgt
164190    13
203488    13
123011    13
113364    12
121124    12
          ..
284211     1
312881     1
177711     1
179758     1
229376     1
Name: fnlwgt, Length: 21648, dtype: int64
education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64
education-num
9     10501
10     7291
13     5355
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: education-num, dtype: int64
marital-status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64
occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64
relationship
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64
race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
sex
Male      21790
Female    10771
Name: sex, dtype: int64
capital-gain
0        29849
15024      347
7688       284
7298       246
99999      159
         ...
4931         1
1455         1
6097         1
22040        1
1111         1
Name: capital-gain, Length: 119, dtype: int64
capital-loss
0       31042
1902      202
1977      168
1887      159
1848       51
        ...
1411        1
1539        1
2472        1
1944        1
2201        1
Name: capital-loss, Length: 92, dtype: int64
hours-per-week
40    15217
50     2819
45     1824
60     1475
35     1297
      ...
92        1
94        1
87        1
74        1
82        1
Name: hours-per-week, Length: 94, dtype: int64
native-country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64
annual_income
<=50K    24720
>50K      7841
Name: annual_income, dtype: int64

In [28]:
# converting ambigous values into null values
df.replace('?', np.nan, inplace=True)

In [29]:
df.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
annual_income        0
dtype: int64

In [30]:
# total missing values present
df.isnull().sum().sum()                  # ans3: a

4262

In [31]:
df.dropna(inplace=True)

In [32]:
df.shape

(30162, 15)

In [10]:
df['occupation'].mode()

0    Prof-specialty
dtype: object

In [11]:
df['occupation'].mode()[0]

'Prof-specialty'

In [12]:
# # Handling null values using imputation
# for col in df.columns:
#     df[col].fillna(df[col].mode()[0], inplace=True)

In [33]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
annual_income     0
dtype: int64

In [14]:
# for col in df.columns:
#     print(col)
#     print(df[col].value_counts())

age
36    898
31    888
34    886
23    877
35    876
     ...
83      6
85      3
88      3
87      1
86      1
Name: age, Length: 73, dtype: int64
workclass
Private             24532
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64
fnlwgt
164190    13
203488    13
123011    13
113364    12
121124    12
          ..
284211     1
312881     1
177711     1
179758     1
229376     1
Name: fnlwgt, Length: 21648, dtype: int64
education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64
education-num
9     10501
10     7291
13     5355
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: education-num, dtype: int64
marital-status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64
occupation
Prof-specialty       5983
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64
relationship
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64
race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
sex
Male      21790
Female    10771
Name: sex, dtype: int64
capital-gain
0        29849
15024      347
7688       284
7298       246
99999      159
         ...
4931         1
1455         1
6097         1
22040        1
1111         1
Name: capital-gain, Length: 119, dtype: int64
capital-loss
0       31042
1902      202
1977      168
1887      159
1848       51
        ...
1411        1
1539        1
2472        1
1944        1
2201        1
Name: capital-loss, Length: 92, dtype: int64
hours-per-week
40    15217
50     2819
45     1824
60     1475
35     1297
      ...
92        1
94        1
87        1
74        1
82        1
Name: hours-per-week, Length: 94, dtype: int64
native-country
United-States                 29753
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64
annual_income
<=50K    24720
>50K      7841
Name: annual_income, dtype: int64

In [15]:
# types of occupation
df['occupation'].nunique()             # ans1: b

14

In [16]:
df['occupation'].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [17]:
df['annual_income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [34]:
# How many people are working as tech support and have an annual income greater than 50k
df_sample1 = df[(df['occupation'] == 'Tech-support') & (df['annual_income'] == '>50K')]
df_sample1.shape                                # ans2: a

(278, 15)

In [20]:
# how to fill missing values if any in marital status - using mode (Married-civ-spouse)
df['marital-status'].value_counts()              # ans4: c

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

In [35]:
# How many people are having private work classes and are not from the United States of America
df_sample2 = df[(df['workclass'] == 'Private') & (df['native-country'] != 'United-States')]
df_sample2.shape                             # ans5: a

(2151, 15)

In [36]:
# How many people are either having Annual Income(last column) less than or equal to 50k or their working hours is greater than or equal to 40 hrs
df_sample3 = df[(df['annual_income'] == '<=50K') | (df['hours-per-week'] >= 40)]
df_sample3.shape                                # ans6: c

(29505, 15)

7. Which of the following methods can you use for handling outliers?
a. Interquartile Range(IQR) Method
b. Z Score method
c. Both of the above methods
d. None of the above

Ans: c. both

<hr>

8. Chi-square is used to analyze:
a. Determine the relationship b/w the variables
b. Compare observed results with expected results
c. both a and b
d. None of the above

Ans: c

<hr>

What is VIF?
a. It can detect multicollinearity
b. If the VIF value is greater than 10, then there is no correlation between
the independent variables
c. It stands for Variance Impact Factor
d. VIF is when there is no correlation between one predictor and the other
predictors in a model.

ans: a

<hr>

10.What predict_proba will tell you?
a. It will predict the class probabilities
b. It will tell you the target value
c. Both are correct
d. None of the above

ans: a

<hr>

11.Logistic regression is useful for regression problems:
a. True
b. False

ans: b

<hr>

12.In logistic regression, if the predicted logit is 0, what’s the
transformed probability?
a. 0.5
b. 0.05
c. Both of the above
d. None of the above

ans: a

<hr>

13.Which variant of logistic regression is recommended when you have
a categorical dependent variable with more than two values?
a. Multiple Logistic regression
b. Multinomial logistic regression
c. Ordered logit regression
d. Poisson regression

ans: b

<hr>

In [39]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
annual_income     object
dtype: object

In [37]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [40]:
for col in df.columns:
    if(df[col].dtype == 'object'):
        df[col] = le.fit_transform(df[col])
        
df.dtypes

age               int64
workclass         int32
fnlwgt            int64
education         int32
education-num     int64
marital-status    int32
occupation        int32
relationship      int32
race              int32
sex               int32
capital-gain      int64
capital-loss      int64
hours-per-week    int64
native-country    int32
annual_income     int32
dtype: object

In [42]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,38,0

**Splitting the Data**

In [43]:
x = df.drop(['annual_income'], axis=1)
x.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,38

In [44]:
y = df['annual_income']
y

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: annual_income, Length: 30162, dtype: int32

In [41]:
# Split the dataset into a train and test of proportions 70:30 and set the random state to 0
from sklearn.model_selection import train_test_split

In [45]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y, test_size=0.3, random_state=0)

In [46]:
# Model Building
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [47]:
lr.fit(xtrain,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [49]:
ypred = lr.predict(xtest)

In [50]:
# Accuracy Score
from sklearn.metrics import accuracy_score

In [56]:
accuracy_score(ypred, ytest)              # ans14: c

0.7926842745054702

**Specificity**
* **specificity = tn / (tn + fp)**

In [54]:
# Specificity
from sklearn.metrics import confusion_matrix

In [58]:
# get confusion matrix
tn,fp,fn,tp = confusion_matrix(ytest,ypred).ravel()

In [59]:
specificity = tn/ (tn + fp)
specificity                              # ans15: d

0.979745712596097

**model’s precision when the target is False**
* **Negative Predictive Value (NPV) = tn / (tn + fn)**

In [60]:
# Negative Precision
npv = tn / (tn + fn)
npv                                    # ans16: c

0.7921348314606742

In [61]:
# total support value from the above model
y.value_counts()

0    22654
1     7508
Name: annual_income, dtype: int64

In [62]:
# F1 Score
from sklearn.metrics import f1_score

In [65]:
f1_score(ypred, ytest)               # ans18: a

0.3679245283018867

In [66]:
# How many records are correctly classified by the model?
result = tp + tn
print("total correctly classified : ", result)             # ans19: a

total correctly classified :  7173